* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

/*Styling for Header*/

header {
    height: auto;
    background-image: url(../images/header-background.png);
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 175px 75px;
}

.mountain {
    position: absolute;
    top: 45px;
    width: 30%;
}

.one img {
    width: 600px;
    z-index: 3;
}

.two img {
    position: absolute;
    left: 425px;
    top: 50px;
    width: 300px;
    height: auto;
    z-index: 0;
}

.three img {
    position: absolute;
    left: 1301px;
    top: 10px;
    width: 600px;
    height: auto;
    z-index: 0;
}

.sun-container {
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 75px;
}

#sun {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: rgb(255,50,3);
    z-index: 1;
}

.top-half-header {
    display: flex;
    justify-content: center;
}

#bottom-half-header {
    background-color: rgb(58,41,57);
    z-index: 3;
    width: 100%;
}

.circles-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.first-circle {
    border-radius: 100%;
    border: solid white 2px;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58,41,57);
    margin: 0 5px 0 5px;
}

.second-circle {
    border-radius: 100%;
    border: solid white 2px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-circle {
    border-radius: 100%;
    border: solid white 2px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-circle {
    border-radius: 100%;
    border: solid white 2px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-circle {
    border-radius: 100%;
    border: solid white 2px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-row {
    display: flex; 
    position: relative;
    bottom: 7px;
    right: 25px;
    z-index: 1;
}

.second-row {
    display: flex;
    position: relative;
    bottom: 55px;
    left: 25px;
    z-index: 2;
}

.third-row {
    display: flex;
    position: relative;
    bottom: 100px;
    right: 25px;
    z-index: 3;
}

#logo-container {
    top: 150px;
    position: absolute;
    z-index: 5;
    left: 50%;
    margin-left: -60px;
}

.first-layer {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    background-color: rgb(58,41,57);
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-layer {
    height: 80%;
    width: 80%;
    border-radius: 100%;
    border: solid 2px white;
    display: grid;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.grid-layer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-rows: 100px;
    justify-content: center;
    width: 100%;
}

.grid-layer p {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.row-one {
    grid-column: 1/4;
    justify-self: center;
    align-self: flex-start;
}

.row-two {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-three {
    grid-column: 1/4;
    justify-self: center;
    align-self: flex-end;
}

#logo-box {
    width: 15px;
    height: 15px;
    border: solid 2px white;
    justify-self: center;
    align-self: center;
}

/*Styling for Main Section*/

.main {
    padding: 50px;
    background-color: #E0ECF1;
    z-index: 1;
}

.form-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styling for Form Sections*/

.form-section {
    width: 50%;
    background-image: url("../images/section-background.png");
    background-size: cover;
    margin: 10px 0 20px 0;
    padding: 70px 125px 40px 125px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
}

.form-section h3 {
    margin-bottom: 30px;
}

.form-section h3 span {
    background-color: rgb(58,41,57);
    color: white;
    padding: 7px 12px;
    font-weight: 300;
    letter-spacing: .15em;
}

.field-total label{
    color: rgb(58,41,57);
    font-weight: 700;
    position: relative;
    top: 8px;
    letter-spacing: .1em;
}

.field-total input{
    background-color: #F4E1DD;
    border: none;
    border-radius: 25px;
    height: 1.5em;
    padding-left: 15px; 
}

.field-total select{
    background-color: #F4E1DD;
    border: none;
    border-radius: 25px;
    height: 1.5em;
    padding-left: 15px;
    width: 150px;
    font-size: 14px; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.field input {
    background-color: #E0ECF1;
    border: none;
    width: 80%;
    height: 25px;
    padding-left: 15px;
}

.field textarea {
    background-color: #E0ECF1;
    border: none;
    padding-left: 15px;
    width: 100%;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.field label {
    position: relative;
    top: 7px;
    font-size: 13px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    padding-left: 15px;
}

.total-section {
    width: 20%;
    float: right;
    position: relative;
}

/*Styling for Montlhy Income*/

.monthly-income-header {
    display: flex;
    justify-content: space-between;
}

#month-label {
    font-weight: 400;
    font-style: italic;
}

/*Styling for Montlhy Fixed Expenses*/

.bill-amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

/*Styling for Montlhy Savings Goal*/

#saving-goal {
    width: 100%;
}

.submit-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
}

#submit-button {
    background-color: rgb(58,41,57);
    color: white;
    padding: 7px 12px;
    font-weight: 300;
    font-size: 15px;
    width: 100px;
    border: none;
    border-radius: 0;
}

.savings-form-section {
    padding-left: 15px;
}

.savings-fields {
    padding-left: 12px;
}

/*Styling for Spending Money Section*/

.spending-money-header {
    display: flex;
    justify-content: space-between;
}

.grid-container-spend1 {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    column-gap: 5px;
    padding-left: 15px;
    background-color: #E0ECF1;
    padding: 15px;
}

.grid-container-spend1 label {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: .1em;
    color: rgb(58,41,57);
}

.operator-field {
    border-radius: 0;
    border: none;
    width: 95%;
    margin-bottom: 1px;
    display: flex;
}

.operator-field input {
    width: 100%;
    border-radius: 0;
    border: none;
    padding-left: 10px;
}

.grid-container-spend2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    column-gap: 5px;
    padding-left: 15px;
    background-color: #E0ECF1;
    padding: 15px;
}

.grid-container-spend2 label {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: .1em;
    color: rgb(58,41,57);
}

.section-container p {
    position: relative;
    top: 7px;
    font-weight: 500;
    font-size: 15px;
}

.section-container2  {
    margin-top:20px
}

.section-container2 p {
    position: relative;
    top: 7px;
    font-weight: 500;
    font-size: 15px;
}

.green-box {
    background-color: #74C8B9;
    width: 13px;
    height: 13px;
    position: relative;
    left: 5px;
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.subtract {
    background-color: rgb(58,41,57);
    margin: auto 0;
    width: 6px;
    height: 2px;
    justify-content: center;
}

.equals {
    background-color: rgb(58,41,57);
    width: 6px;
    height: 2px;
    margin-top: 1px;
    position: relative;
    top: 3px;
}

.division-line {
    background-color: rgb(58,41,57);
    margin: auto 0;
    width: 6px;
    height: 2px;
}

.division-circle {
    background-color: rgb(58,41,57);
    margin: auto 0;
    width: 2px;
    height: 2px;
    border-radius: 100%;
}

/*Styling for Spending Goals Section*/

.spending-goals textarea {
    background-color: #E0ECF1;
    border: none;
    padding-left: 15px;
    width: 100%;
}

.spending-goals label {
    position: relative;
    top: 7px;
    font-weight: 500;
    font-size: 15px;
}